# List

1. List are ordered sequences that can hold a variety of object types.

2. They use [] brackets & commas to seperate objects in a list.

3. List supports indexing and slicing. List can be nested and also have a variety of useful methods that can be called of them

In [1]:
mylist = [1,2,3]

In [3]:
my_list = ["rahul",50,100.0,0.3]

In [4]:
len(mylist)

3

In [5]:
len(my_list)

4

In [6]:
mylist1= ["one","two","three"]

In [7]:
mylist1

['one', 'two', 'three']

In [8]:
mylist1[:]

['one', 'two', 'three']

In [10]:
mylist1[1]

'two'

In [11]:
mylist1[0:]

['one', 'two', 'three']

In [12]:
mylist1[:2]

['one', 'two']

In [13]:
anotherlist=["Four","Five"]

In [15]:
newlist = mylist1 + anotherlist
newlist

['one', 'two', 'three', 'Four', 'Five']

In [17]:
newlist[0] = "one all caps"

In [18]:
newlist

['one all caps', 'two', 'three', 'Four', 'Five']

In [23]:
newlist.append("six")

In [24]:
newlist

['one all caps', 'two', 'three', 'Four', 'Five', 'six']

In [25]:
newlist.append("seven")

In [28]:
newlist

['one all caps', 'two', 'three', 'Four', 'Five', 'six', 'seven']

In [31]:
newlist.pop()

'seven'

In [32]:
newlist

['one all caps', 'two', 'three', 'Four', 'Five', 'six']

In [33]:
popped_item = newlist.pop()
popped_item

'six'

In [34]:
newlist

['one all caps', 'two', 'three', 'Four', 'Five']

In [35]:
newlist.pop(0)

'one all caps'

In [36]:
newlist

['two', 'three', 'Four', 'Five']

In [37]:
new_list = ["c","a","b","e","d"]
num_list = [4,3,1,2]

In [38]:
new_list.sort()

In [39]:
new_list

['a', 'b', 'c', 'd', 'e']

In [40]:
num_list.sort()

In [41]:
num_list

[1, 2, 3, 4]

In [42]:
type(new_list)

list

In [43]:
my_sorted_list = new_list.sort()

In [44]:
type(my_sorted_list)

NoneType

In [45]:
new_list.sort()
my_sorted_list=new_list

In [46]:
my_sorted_list

['a', 'b', 'c', 'd', 'e']

In [47]:
num_list.reverse()

In [49]:
num_list

[4, 3, 2, 1]

**1. Creating List**

In [50]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [51]:
my_list = ['A string',23,100.232,'o']

In [52]:
len(my_list)

4

**2. Indexing & Slicing**

In [53]:
my_list = ['one','two','three',4,5]

In [54]:
# Grab element at index 0
my_list[0]

'one'

In [55]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [56]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [57]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [58]:
my_list

['one', 'two', 'three', 4, 5]

In [59]:
# Reassign
my_list = my_list + ['add new item permanently']

In [60]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [61]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [62]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

**3. Basic List Methods**

In [63]:
# Create a new list
list1 = [1,2,3]

In [64]:
# Append
list1.append('append me!')

In [65]:
# Show
list1

[1, 2, 3, 'append me!']

In [66]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [67]:
# Show
list1

[2, 3, 'append me!']

In [68]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [69]:
popped_item

'append me!'

In [70]:
# Show remaining list
list1

[2, 3]

In [71]:
new_list = ['a','e','x','b','c']

In [72]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [73]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [74]:
new_list

['c', 'b', 'x', 'e', 'a']

In [75]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [76]:
new_list

['a', 'b', 'c', 'e', 'x']

**4.Nesting List**

In [83]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [78]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [79]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [80]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

**5. List Comprehension**

In [81]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [82]:
first_col

[1, 4, 7]