In [1]:
dic = {'Key1':"Value1","Key2":"Value2"}

In [2]:
dic

{'Key1': 'Value1', 'Key2': 'Value2'}

In [4]:
dic["Key1"]

'Value1'

In [8]:
Prices = {"Apples":30,"Orange":20,"Banana":10}
Prices

{'Apples': 30, 'Orange': 20, 'Banana': 10}

In [9]:
Prices["Orange"]

20

In [10]:
d = {"K1":123,"K2":[0,1,2],"K3":{"insidekey":50}}

In [11]:
d

{'K1': 123, 'K2': [0, 1, 2], 'K3': {'insidekey': 50}}

In [13]:
d["K2"]

[0, 1, 2]

In [15]:
d["K3"]

{'insidekey': 50}

In [17]:
d["K3"]["insidekey"]

50

In [18]:
a = {"key1":["a","b","c"]}
a

{'key1': ['a', 'b', 'c']}

In [21]:
mylist = a["key1"]

In [22]:
mylist

['a', 'b', 'c']

In [23]:
mylist[1]

'b'

In [24]:
mylist[1].upper()

'B'

In [25]:
Prices

{'Apples': 30, 'Orange': 20, 'Banana': 10}

In [26]:
Prices["Pineapple"]= 25

In [27]:
Prices

{'Apples': 30, 'Orange': 20, 'Banana': 10, 'Pineapple': 25}

In [28]:
Prices ["banana"] = "Chickoo"

In [30]:
Prices

{'Apples': 30,
 'Orange': 20,
 'Banana': 10,
 'Pineapple': 25,
 'banana': 'Chickoo'}

In [32]:
Prices.keys()

dict_keys(['Apples', 'Orange', 'Banana', 'Pineapple', 'banana'])

In [33]:
Prices.values()

dict_values([30, 20, 10, 25, 'Chickoo'])

In [34]:
Prices.items()

dict_items([('Apples', 30), ('Orange', 20), ('Banana', 10), ('Pineapple', 25), ('banana', 'Chickoo')])

**1. Constructing a Dictionary**

In [35]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [36]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [37]:
# Call values by their key
my_dict['key2']

'value2'

In [38]:
my_dict1 = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [39]:
# Let's call items from the dictionary
my_dict1['key3']

['item0', 'item1', 'item2']

In [40]:
# Can call an index on that value
my_dict1['key3'][0]

'item0'

In [42]:
# Can then even call methods on that value
my_dict1['key3'][0].upper()

'ITEM0'

In [43]:
my_dict1['key1']

123

In [45]:
# Subtract 123 from the value
my_dict1['key1'] = my_dict1['key1'] - 123

In [46]:
#Check
my_dict1['key1']

0

In [48]:
# Set the object equal to itself minus 123 
my_dict1['key1'] -= 123
my_dict1['key1']

-123

In [49]:
# Create a new dictionary
d = {}

In [50]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [51]:
# Can do this with any object
d['answer'] = 42

In [52]:
#Show
d

{'animal': 'Dog', 'answer': 42}

**2. Nesting with Dictionaries**

In [53]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [54]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

**3. A few Dictionary methods**

In [55]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [56]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [57]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [58]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])